.custom-shape-divider-top-1688931017 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1688931017 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1688931017 .shape-fill {
  fill: #f2f8fb;
}
