.blinkingText {
  display: inline-block;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-family: "Roboto flex";
  border-right: 3px solid;
  font-size: clamp(3rem, 6vw + 1rem, 5rem);
  line-height: 1.5;
  animation: type 3s steps(22) 1s forwards infinite,
    blink 0.5s steps(1) infinite;
}

@keyframes type {
  to {
    width: 22ch;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #000;
  }
}
